<nav class="navbar navbar-expand-lg navbar-light box-shadow bg-white py-2">
  <div class="container">
    <a class="navbar-brand logo"
       routerLink="/">
      <img src="assets/logo/rabo-logo.png"
           class="logo__img mr-3" width="50">
      <div class="d-inline-flex flex-column align-items-end1">
        <h5 class="font-weight-bold m-0 logo__name"> Csv Viewer </h5>
      </div>
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="readme">
          Readme
        </a>
      </li>
    </ul>
  </div>
</nav>


<div class="content" role="main">


  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>
      <p>
        Upload csv record file in <b>CSV</b> format. There are two requirements:
      </p>
      <ul class="pl-4 mb-0">
        <li>View the results on screen.</li>
        <li>Filter the results based on minimal issue count.</li>
      </ul>



    </span>
    <span>&nbsp;&nbsp;</span>
    <span>
      <div class="statement-select text-center"
           [class.statement-select--file-over]="isFileOver"
           [class.statement-select--has-error]="errorMessage">
  <label class="btn btn-danger mt-4"
         for="file-select">
    <i class="fas fa-upload mr-2"></i>
    Select the file
  </label>
  <input type="file"
         id="file-select"
         class="d-none"
         multiple="false"
         (change)="onFileChange($event)">


</div>
    </span>

  </div>
</div>


<!--<div class="container pt-3">
  <router-outlet></router-outlet>
</div>-->
