<nav class="navbar navbar-expand-lg navbar-light box-shadow bg-white py-2">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/">
      <img src="assets/logo/rabo-logo.png" class="logo__img mr-3" width="50">
      <div class="d-inline-flex flex-column align-items-end1">
        <h5 class="font-weight-bold m-0 logo__name"> Csv Viewer </h5>
      </div>
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="readme">
          Readme
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="content" role="main">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        <p>
        Upload csv record file in <b>CSV</b> format. There are two requirements:
        </p>
      </h6>
      <ul class="pl-4 mb-0">
        <li>View the results on screen.</li>
        <li>Filter the results based on minimal issue count.</li>
      </ul>
      <div class="statement-select text-center">
        <label class="btn btn-danger mt-4"
               for="file-select">
          <i class="fas fa-upload mr-2"></i>
          Select the file
        </label>
        <input type="file"
               id="file-select"
               class="d-none"
               multiple="false"
               (change)="parseCsv($event)">

      </div>
    </div>
  </div>

  <br>

  <div *ngIf="records.length > 0" style="width: 40rem;">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filter by Issue Count" [(ngModel)]="searchTerm"/>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>First Name </th>
          <th>Sur Name </th>
          <th>Issue Count </th>
          <th>Date of Birth </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records | issueCountFilter: searchTerm">
          <td> <span>{{record.firstName}}</span> </td>
          <td> <span>{{record.surName}}</span> </td>
          <td> <span>{{record.issueCount}}</span> </td>
          <td> <span>{{record.dob | date: 'dd-MMM-yyyy'}}</span> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
